<div id="<%= dom_id dance_event %>">
  <li class="flex justify-between gap-x-6 px-10 py-5 rounded border">
    <div class="flex min-w-0 gap-x-4">
      <div class="min-w-0 flex-auto">
        <a href=<%= dance_event_path(dance_event) %> class="text-sm font-semibold leading-6 text-gray-900">
          <%= dance_event.name %>
        </a>
        <p class="mt-1 truncate text-xs leading-5 text-gray-500"><%= dance_event.website %></p>
      </div>
    </div>
    <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
      <a href=<%= user_path(dance_event.organizer) %> class="text-sm leading-6 text-gray-900">
        <%= dance_event.organizer.username %>
      </a>
      <p class="mt-1 text-xs leading-5 text-gray-500">
        <time><%= dance_event.start_date %></time> to <time><%= dance_event.end_date %></time>
      </p>
    </div>
  </li>
</div>
